    html {
        scroll-behavior: smooth;
        overflow-x: hidden;
    }
    
    body {
        background-color: #f5f5f5 !important;
        overflow-x: hidden;
    }
    
    h1 {
        color: #0a111b;
        font-family: 'Montserrat', 'sans-serif';
        font-weight: lighter;
    }
    
    .logo-bg {
        height: 57px;
        width: 57px;
        background-color: #0a111b;
        border-radius: 50%;
        display: inline-block;
    }
    
    #logo-text {
        padding-top: 20%;
        text-align: center;
        color: #ffffff;
        padding-left: 4px;
    }
    
    .container-fluid-srinivas {
        margin-top: 20px;
        margin-left: 30px;
    }
    
    .logo-bg:hover {
        background-color: rgb(253, 253, 253);
        color: #0a111b;
    }
    
    #logo-text:hover {
        color: #0a111b;
    }
    
    .dot-nav {
        height: 15px;
        width: 15px;
        background-color: transparent;
        border-color: #0a111b;
        border-style: solid;
        border-radius: 50%;
        display: inline-block;
        color: rgb(168, 168, 168);
        margin-left: 80px;
    }
    
    .navbar-srinivas {
        margin-top: 20px;
        float: right;
    }
    
    .dot-nav:hover {
        background-color: #0a111b;
    }
    
    .dot-nav>.menutext {
        font-family: 'Montserrat', 'sans-serif';
        font-weight: lighter;
        visibility: hidden;
        background-color: rgb(255, 255, 255);
        width: 130px;
        color: black;
        text-align: center;
        border-radius: 3px;
        position: absolute;
        bottom: -20%;
        opacity: 0;
        transition: opacity 0.3s;
        font-family: 'Montserrat', 'sans-serif';
        font-size: small;
        font-weight: bold;
    }
    
    .menusrinivas a:hover {
        text-decoration: none;
    }
    
    .dot-nav:hover .menutext {
        visibility: visible;
        opacity: 1;
    }
    
    .dot-nav:visited {
        background-color: #0a111b;
    }
    
    .dot-nav:active {
        background-color: #0a111b;
    }
    
    #header-srinivas {
        margin-top: 100px;
        text-align: center;
    }
    
    #header-srinivas #import {
        font-family: 'Montserrat', 'sans-serif';
        font-weight: normal;
        color: rgb(156, 156, 156);
        letter-spacing: 4px;
        padding-bottom: 20px;
    }
    
    #header-srinivas .name-header {
        color: #0a111b;
    }
    
    #header-srinivas .country-header {
        font-weight: bolder;
        background: -webkit-linear-gradient(rgb(214, 100, 25), rgb(255, 255, 255), rgb(28, 141, 28));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    #header-srinivas h3 {
        color: rgb(156, 156, 156);
        font-family: 'Montserrat', 'sans-serif';
        font-weight: normal;
    }
    
    #official_name {
        color: #0a111b;
        font-family: 'Montserrat', 'sans-serif';
        font-weight: normal;
        font-size: 70px;
        letter-spacing: 4px;
        padding-bottom: 20px;
    }
    
    #iconarrow {
        font-size: 60px !important;
        color: #0a111b;
    }
    
    #HumanBeing {
        padding-top: 20px;
        color: rgb(156, 156, 156);
        font-family: 'Montserrat', 'sans-serif';
        font-weight: lighter;
        font-size: medium;
    }
    
    #HumanBeing span {
        color: #0a111b;
    }
    
    .material-icons {
        padding-top: 40px;
    }
    
    #aboutme {
        margin-top: 140px;
        color: rgb(156, 156, 156);
        margin-bottom: 140px;
        margin-left: 30px;
    }
    
    #aboutmeimg {
        width: 400px;
        height: 400px;
    }
    
    .aboutmeheader {
        color: #0a111b;
        font-family: 'Montserrat', 'sans-serif';
        font-weight: normal;
        font-size: 50px;
        letter-spacing: 4px;
        padding-bottom: 20px;
    }
    
    .aboutmeheader p {
        word-spacing: 20px;
        opacity: 50%;
        font-family: 'Roboto', sans-serif;
    }
    
    .fa:hover {
        color: #0a111b;
    }
    
    .abouticon {
        color: rgb(156, 156, 156);
        font-size: 24px !important;
    }
    
    .rightline {
        border: 1px solid #0a111b;
        width: 70%;
    }
    
    .dividercircleright {
        height: 15px;
        width: 15px;
        background-color: #0a111b;
        border-color: #0a111b;
        border-style: solid;
        border-radius: 50%;
        color: rgb(168, 168, 168);
        float: right;
        margin-right: 20px;
        transition: box-shadow .3s;
    }
    
    .dividercircleright:hover {
        box-shadow: 0 0 11px rgb(103, 200, 233);
    }
    
    #resume {
        margin-top: 100px;
        color: rgb(156, 156, 156);
        padding-bottom: 80px;
        padding-left: 250px;
    }
    
    .resumetitle {
        color: #0a111b;
        font-family: 'Montserrat', 'sans-serif';
        font-weight: normal;
        font-size: 50px !important;
        letter-spacing: 4px;
        padding-bottom: 60px;
        margin-left: -250px;
        text-align: center;
    }
    
    .resumeicon {
        width: 100px;
        height: 100px;
        border-radius: 5%;
        transition: box-shadow .8s;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    
    .resumeicon:hover {
        transition: box-shadow .8s;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
    
    .resumecontentdesc {
        padding-top: 10px;
        font-family: 'Roboto', 'sans-serif';
        color: #0a111b;
        font-size: 20px;
        font-weight: normal;
    }
    
    .resumecontent {
        padding-bottom: 30px;
    }
    
    #education {
        margin-top: 60px;
        color: rgb(156, 156, 156);
        padding-bottom: 80px;
    }
    
    .education-title {
        color: #0a111b;
        font-family: 'Montserrat', 'sans-serif';
        font-weight: normal;
        font-size: 50px !important;
        letter-spacing: 4px;
        padding-bottom: 60px;
        text-align: center;
        padding-top: 60px;
    }
    
    .quote {
        font-family: 'Roboto', sans-serif;
        color: #0a111b;
        text-align: center;
        padding-bottom: 30px;
    }
    
    .card-education {
        padding-top: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        padding-bottom: 20px;
        color: #0a111b;
    }
    
    .card-education:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
    
    .education-year {
        font-family: 'Roboto', sans-serif;
        text-align: center;
    }
    
    .education-content {
        text-align: center;
    }
    
    .education-grade {
        text-align: center;
    }
    
    .edu-hr {
        width: 20%;
    }
    
    .edu-row {
        padding-bottom: 60px;
    }
    
    #moreabout {
        margin-top: 60px;
        color: rgb(156, 156, 156);
        padding-bottom: 80px;
    }
    
    .moreabout-title {
        color: #0a111b;
        font-family: 'Montserrat', 'sans-serif';
        font-weight: normal;
        font-size: 50px !important;
        letter-spacing: 4px;
        padding-bottom: 60px;
        text-align: center;
        padding-top: 60px;
    }
    
    .card-more {
        padding-top: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        padding-bottom: 20px;
        color: #0a111b;
    }
    
    .card-more:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
    
    .card-more-title {
        font-family: 'Roboto', sans-serif;
        text-align: center;
    }
    
    .card-more-content {
        font-family: 'Roboto', sans-serif;
    }
    
    .card-more-li {
        text-align: center;
        list-style-type: none;
    }
    
    .more-hobby-icon {
        width: 30px;
        height: 30px;
        background-color: #0a111b !important;
    }
    
    .card-more-li-txt {
        padding-left: 20px;
    }
    
    #blog {
        margin-top: 60px;
        color: rgb(156, 156, 156);
        padding-bottom: 80px;
    }
    
    .blog-title {
        color: #0a111b;
        font-family: 'Montserrat', 'sans-serif';
        font-weight: normal;
        font-size: 50px !important;
        letter-spacing: 4px;
        padding-bottom: 60px;
        text-align: center;
        padding-top: 60px;
    }
    
    .card-blog {
        padding-top: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        padding-bottom: 20px;
        color: #0a111b;
        background-color: #0a111b;
    }
    
    .card-blog:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
    
    .button-blog {
        margin-left: 490px;
        border-radius: 0% !important;
        color: #0a111b !important;
        background-color: #f5f5f5 !important;
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.541);
    }
    
    .button-blog:hover {
        box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.541);
    }
    
    #contact {
        margin-top: 60px;
        color: rgb(156, 156, 156);
        padding-bottom: 80px;
    }
    
    #contact-title {
        color: #0a111b;
        font-family: 'Montserrat', 'sans-serif';
        font-weight: normal;
        font-size: 50px !important;
        letter-spacing: 4px;
        padding-bottom: 60px;
        text-align: center;
        padding-top: 60px;
    }
    
    .contact-details {
        color: #0a111b;
        font-family: 'Roboto', sans-serif;
    }
    
    .contact-email {
        color: #0a111b;
    }
    
    .contact-phone {
        color: #0a111b;
    }
    
    #footer-srinivas {
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 20px 0px;
        background-color: #f5f5f5;
        color: #0a111b;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    
    #footer-srinivas:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }